registry=https://registry.npmjs.org
ignore-workspace-root-check=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
# registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
only-built-dependencies=electron,esbuild